body{
	background-image: url("./img/00236cd3537859.jpg");
	background-size: cover;
		)
}
table{
	margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}
td{
    padding: 10px;
}
.main{
	width: 500px;
	height: 300px;
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
   	text-align: center;

}
.history{	
	opacity: 0.6;	
	width: 450px;
	margin-top: 30px;
    margin-left: auto;
    margin-right: auto; 
   	font-size: 20px;

}
li{
	list-style-type: none;	
	background-color: black;
	padding: 5px 0 0 10px;
}
.invisible{
	display: none;
}
.start{
	box-shadow: 
		 5px 5px 4px rgba(255,255,255,0.7);
	border: 0;
	padding: 5px; 
	font-size: 20px;
	margin: 30px;
}
.start:hover{
	background:  #d7d7d0;
	transform: scale(1.1);
}
.btn{
	cursor: hand;
	cursor: pointer;
}

.score{
	color: white;
	background-color: black;
	opacity: 0.5;	
	height: 50px;
	font-size: 40px;  
	display: inline-block;
	width: 50px;
	margin: 0 5px 0 5px;	
}
.text-players{
   	font-size: 25px;	
   	color: black;
}
.text{
	font-size: 20px;
	color: white;
}
.round{
	font-weight:bold;
}
.text-winner{
	font-size: 30px;
	color: red;	
	font-style:italic;
	font-weight:bold;
}
img:hover{
	transform: scale(1.5);

}
.selectedImg{
	border: 1px solid red;
}